@media only screen and (max-width: 790px){

.header{
    padding-right: 2%;
    padding-left: 2%;
}

.header h1{
    font-size: 1.3rem;
}

#write-to-us-btn{
    display: none;
 
}


.banner-at-point{
    margin-left: 2%;
}

.banner-lower-box{
    width: 100%;
    flex-direction: column;
}

.banner-lower-box .lower-box-left{
    margin: 0 auto;
}

.lower-box-right{
    width: fit-content;
    margin: auto;
}

.btn-group{
    margin-top: 12px;
    width: fit-content;
}

.placement-container{
    width: 65vw;
    padding-left: 2%;
}

.placement-box{
    flex-direction: column;
}

.placement-box-right{
    column-gap: 30%;
}

.company{
    padding: 15px 20px;
}

.company h2{
    font-size: 12px;
}

.uplift-text{
    font-size: 20px;
}

.course-summary{
padding: 15px 25px;
grid-template-columns: 40% 40%;
column-gap: 20%;
row-gap: 70px;
}

h3{
    font-size: 10px;
}

.curriculum{
    margin-top: 50px;
}

.curriculum-list{
    width: 100%;
    overflow: hidden;
}

.creator-img-block{
justify-content: initial;
padding: 0 10px;
width: auto;
}

.project h2{
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    padding: 0 15px;
}

.project-card{
    overflow: hidden;
    justify-content: initial;
    padding-left: 5px;
    width: auto;
}

.technologies h2{
    font-size: 1.3rem;
    line-height: 10px;
}

.curriculum h2{
    font-size: 1.3rem;
    line-height: 18px;
}

.custom-table thead th{
    font-size: 8px;
}

.custom-table tbody td .title{
    font-size: 12px;
}

.advantage h2{
    font-size: 1.3rem;
}

.table-responsive{
    padding: 2px;
}

.admission ul li .count{
    font-size: 16px;
}

.admission ul{
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.admission ul li .content{
    font-size: 12px;
    max-width: 102px;
    line-height: 20px;
    margin: 15px auto 0;
}

.section-heading {
    font-size: 20px;
}

.reviews{
    justify-content: initial;
    column-gap: 2%;
}

.learner{
    overflow: hidden;
    margin-top: 50px;
    width: auto;
}

.review-thumb p{
margin-top: 12px;
font-size: 12px;
line-height: 18px;
height: 90px;
}

.review-thumb .media{
    display: block;
    padding-bottom: 11px;
}

.review-title{
    margin-top: 12px;
    height: 13px;
}

.review-thumb .media-body h3{
    font-size: 12px;
    line-height: 13px;
}

.review-thumb .review-img img{
    width: 50px;
    height: 50px;
}

.review-thumb{
    width: auto;
    padding: 10px 3px;
    height: 300px;
}

.review-thumb .media-body{
    padding-left: 0;
}

.faq-summary .faq-collection .card-header h3{
    font-size: 16px;
    line-height: 20px;
    max-width: 223px;
}

.faq-summary .faq-list.faq-collection .card .card-header .card-link:before{
    right: 20px;
    top: 10px;
}

.faq-summary .faq-list.faq-collection .card .card-header .card-link{
    padding: 5px;
}
.last{
    margin-top: 50px !important;
}

.row{
    flex-direction: column;
    row-gap: 10px;
}

.got-a-ques-summary img{
    display: none;
}

.row .offset-md-6{
    margin-left: 0;
    text-align: center;
}

.got-a-ques-btn{
    justify-content: center;
}

.footer-summary {
    padding: 0 !important;
    text-align: center;
}

.top-footer{
    padding: 50px 0 40px !important;
}

.footer-summary .social-icons{
    margin-top: 35px !important;
    justify-content: center !important;
}

.footer-summary h3{
    margin-top: 50px;
}


footer .row-second{
    flex-direction: column;
    position: static !important;
    
}

.bottom-footer{
    padding-bottom: 5px !important;
}

.advantage{
    margin-top: 50px;
}

.creator h2{
    font-size: 20px;
    margin-bottom: 0;
}

.bootcamp{
    padding: 35px 0
}

.pricing h2{
    font-size: 20px;
}

.header-btn button{
    padding: 5px 5px;
    height: 30px;
}

.curriculum-list ul li{
    font-size: 12px;
    line-height: 18px;
}

}

