<?php

        header('Access-Control-Allow-Origin: *');
        $conn = new mysqli('localhost', 'root', '', 'user');

        if(mysqli_connect_error()){
            echo mysqli_connect_error();
            exit();
        }

        else{
           $name = $_POST['name'];
           $email = $_POST['email'];
           $mobile = $_POST['mobile'];
           $location = $_POST['location'];
           $mode = $_POST['mode'];

           $sql = "INSERT INTO details(name,email,mobile,location,mode) VALUES ('$name','$email','$mobile','$location','$mode')";
           $res = mysqli_query($conn,$sql);

           if($res){
            echo "true";
           }

           else{
            echo "false";
           }

           $conn->close();
        }
?>


setInterval(() => {
    currentIndex = (currentIndex + direction) % totalItems;
    if (currentIndex === -1) {
      currentIndex = totalItems - 1;
    }
    creatorImgBlock.style.transform = `translateX(-${currentIndex * nextMove}vw)`;

    if (currentIndex === totalItems - 3 && direction === 1) {
      direction = -1;
    } else if (currentIndex === 0 && direction === -1) {
      direction = 1;
    }
  }, 3000); // Change slide every 3 seconds
 // Change slide every 3 seconds
};


// ----auto scroll

//     const autoScroll = ()=>{
      

  //       const creatorImgBlock = document.getElementsByClassName('creator-img-block')[0];
  //       const creatorImgBlock2 = document.getElementsByClassName('creator-img-block')[1];
  //       const creatorImage = document.getElementsByClassName('program-thumb');
      
  //       let totalItems =  creatorImage.length;   
  //         let currentIndex = 0;
  //        let nextMove = 26;
  //        let direction =1;
          
        
  //    if(stopScroll===false){
  //     console.log("runnig interval")
  //     setLoop(setInterval(() => {
  //         console.log("inside interval");
  //     currentIndex = (currentIndex + direction) % (totalItems/2);
  //     setImageAt(currentIndex)
  //     if (currentIndex === -1) {
  //       currentIndex = (totalItems/2) - 1;
  //       setImageAt(currentIndex)
  //     }
  //     creatorImgBlock.style.transform = `translateX(-${currentIndex * nextMove}vw)`;
  //     creatorImgBlock2.style.transform = `translateX(-${currentIndex * nextMove}vw)`;
  
  //     if (currentIndex === (totalItems/2) - 3 && direction === 1) {
  //       direction = -1;
  //     } else if (currentIndex === 0 && direction === -1) {
  //       direction = 1;
  //     }
  //   }, 3000))// Change slide every 3 seconds
  //   // Change slide every 3 seconds
  //  }
   
  //  else{
  //     console.log("else is running")
  //     console.log('else loop =',loop)
  //     clearInterval(loop);
  //  }
  // };